/target/
*.ngc
*.tap
*.dxf
*.png
*.jpeg
*.jpg
*.svg
!crates/rengrave-ui/assets/tool-icons/*.svg
*.rgrv
!crates/rengrave-core/tests/fixtures/**/*.dxf
!crates/rengrave-core/tests/fixtures/**/*.svg

*_source/
.dmux/
_docs/
docs/_build/
